
<p>Soy el home</p>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Aplicación demo creditos para zinobe</h1>
    <img src="assets/image/logo.png" class="rounded mx-auto d-block" alt="...">
      <p class="lead">Aplicación hecha por <a href="https://www.linkedin.com/in/luis-arturo-monsalve-779b66176">Luis Arturo Monsalve</a>  como prueba para ZINOBE</p>
  </div>
</div>



<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/image/03.png" >
           <div class="card-body">
            <p class="card-text">Aqui encontraras  creaciòn de usuarios</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/image/02.png" >  <div class="card-body">
            <p class="card-text">Aqui encontraras  creaciòn de créditos</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/image/01.png" >
          <div class="card-body">
            <p class="card-text">Aqui encontraras  funcionalidades generales .</p>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<
